@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {height:100%}
/* Form container styling */
.container {
  position: relative;
  z-index: 10;
  background: white;
  border: 2px solid #06b6d4;
  border-radius: 1rem;
  padding: 1.5rem 2rem;  
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-width: 700px;      
  width: 90%;
  min-height: auto;      
}

/* Headings */
h1, h2, h3 {
  @apply text-white mb-5 text-lg text-center font-extrabold;
}

/* Inputs */
.input {
  @apply w-full px-4 py-2 mb-3 border border-cyan-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-400;
}

/* Buttons (base) */
.btn {
  @apply w-full py-2 rounded-lg font-semibold transition-colors duration-200;
}

/* Back button */
.btn-back {
  @apply bg-blue-100 text-blue-700 hover:bg-blue-200  disabled:bg-blue-200 disabled:cursor-not-allowed;
}

/* Continue button*/
.btn-continue {
  @apply bg-blue-500 text-white hover:bg-blue-500 disabled:bg-blue-400 disabled:cursor-not-allowed;
}

/* Submit button */
.btn-submit {
  @apply bg-green-500 text-white hover:bg-green-600  disabled:bg-green-400 disabled:cursor-not-allowed;
}

/* Error text */
.error {
  @apply text-red-500 text-sm mt-1;
}

